<!-- slide banner -->
<div id="carousel-id" class="carousel slide" data-ride="carousel" style="margin-bottom: 0;">
    <ol class="carousel-indicators">
        <li *ngFor="let banner of banners; let i = index" data-target="#carousel-id" data-slide-to="i" class="{{(i == 0) ? 'active' : ''}}"></li>
    </ol>
    <div class="carousel-inner">
        <div *ngFor="let banner of banners; let i = index" class="item {{(i == 0) ? 'active' : ''}}">
            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="{{banner_service.images_path + banner.hinh}}">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- END slide banner -->